.video-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.vName{
    width: 24%;
    padding: 0.5rem;
    border-radius: 1rem;
    position: absolute;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 38%;
    background: bisque;
}

.video-container{
    width: 100%;
    height: 100%;
}

.video-part video{
    border-radius: 1rem;
    margin-top: 3rem;
}

.input-part{
    width: 24.5%;
}

.input{
    width: 100%;
}

.input input{
    width: 100%;
    height: 2rem;
    border: 1.5px solid #181111;
    border-radius: 0.5rem;
    padding: 0.6rem;
}

.submit-btn button{
    width: 9rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 0.6rem;
    background: darkolivegreen;
}

/* .submit-video-btn{
    width: 24.5%;
} */

@media screen and (max-width: 991px) {
    .input-part {
        width: 38.5%;
    }

    .video-section{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 780px) {
    .input-part {
        width: 48.5%;
    }

    .video-section{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .input-part {
        width: 77.5%;
    }
    .video-section{
        margin-top: 2rem;
    }
}
