.form-container{
    height: 76%;
    width: 91%;
    padding: 1rem;
    margin-top: 0.6rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    overflow: auto;
}

.form-container .name {
    width: 30%;
    padding: 0.5rem;
    padding-left: 0.9rem;
    border-radius: 1rem;
    margin-bottom: -2rem;
    color: black;
}

.form-container .form-ques{
    margin-bottom: 2rem;
}

.opt1, .opt2{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.2rem;
}

.que p {
    margin-bottom: 0.8rem;
    font-size: 1.7rem;
    font-weight: 500;
}

.input-ans input{
    width: 100%;
    height: 2.8rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.noti p{
    text-align: center;
}

.submit-form-btn {
    width: 15%;
}

.que input{
    width: 46%;
    height: 2rem;
    border: 1px solud black;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding-left: 0.7rem;
    padding-bottom: 0.3rem;
    color: black;
}

.question-check-radio input{
    margin-right: 0.4rem;
}


.submit-form-btn button {
    height: 2.5rem;
    width: 12rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

@media screen and (max-width: 780px) {
    .form-container{
        margin-left: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    .form-container{
        margin-left: 1.6rem;
    }
}